@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';

@layer base {
  :root {
    --background: theme('colors.white');
    --foreground: theme('colors.black');

    --primary: theme('colors.black');
    --primary-foreground: theme('colors.white');

    --accent: theme('colors.gray.dark');
    --accent-foreground: theme('colors.white');

    --secondary: theme('colors.background');
    --secondary-foreground: theme('colors.foreground');

    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);

    --destructive: theme('colors.error.white');
    --destructive-foreground: theme('colors.white');

    --success: hsl(138, 58%, 38%);
    --success-foreground: #ffffff;

    --border: theme('colors.gray.light');
    --input: theme('colors.gray.light');

    --radius: 0.5rem;
  }

  .dark {
    --background: theme('colors.black');
    --foreground: theme('colors.white');

    --primary: theme('colors.white');
    --primary-foreground: theme('colors.black');

    --accent: theme('colors.gray.light');
    --accent-foreground: theme('colors.black');

    /* --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: #ffffff; */

    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);

    --destructive: theme('colors.error.black');
    --destructive-foreground: theme('colors.black');

    --success: hsl(138, 58%, 50%);
    --success-foreground: theme('colors.white');

    --border: theme('colors.gray.dark');
    --input: theme('colors.gray.DEFAULT');
    --ring: theme('colors.gray.light');
  }

  .red {
    --background: var(--red-1);
    --foreground: var(--red-12);
    --primary: var(--red-9);
    --primary-foreground: var(--foreground);
    --accent: var(--red-4);
    --accent-foreground: var(--red-12);
    --muted: var(--red-2);
    --muted-foreground: var(--red-11);
  }
  .blue {
    --background: var(--blue-1);
    --foreground: var(--blue-12);
    --primary: var(--blue-9);
    --primary-foreground: theme('colors.white');
    --accent: var(--blue-4);
    --accent-foreground: var(--blue-12);
    --muted: var(--blue-2);
    --muted-foreground: var(--blue-11);
  }
  .green {
    --background: var(--green-1);
    --foreground: var(--green-12);
    --primary: var(--green-9);
    --primary-foreground: theme('colors.white');
    --accent: var(--green-4);
    --accent-foreground: var(--green-12);
    --muted: var(--green-2);
    --muted-foreground: var(--green-11);
  }

  body {
    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --ring: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
