@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);

    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);

    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);

    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(240 10% 3.9%);
    --foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);

    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);

    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 4.9% 83.9%);
  }

  .red {
    --background: var(--red-1);
    --foreground: var(--red-12);
    --primary: var(--red-9);
    --primary-foreground: var(--red-9-contrast);
    --accent: var(--red-2);
    --accent-foreground: var(--red-2-contrast);
    --muted: var(--red-2);
    --muted-foreground: var(--red-11);
  }
  .blue {
    --background: var(--blue-1);
    --foreground: var(--blue-12);
    --primary: var(--blue-9);
    --primary-foreground: var(--blue-9-contrast);
    --accent: var(--blue-2);
    --accent-foreground: var(--blue-2-contrast);
    --muted: var(--blue-2);
    --muted-foreground: var(--blue-11);
  }
  .green {
    --background: var(--green-1);
    --foreground: var(--green-12);
    --primary: var(--green-9);
    --primary-foreground: var(--green-9-contrast);
    --accent: var(--green-2);
    --accent-foreground: var(--green-2-contrast);
    --muted: var(--green-2);
    --muted-foreground: var(--green-11);
  }

  body {
    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --ring: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
